td {
    font-family:osaka,arial;
    color:#006666;
    background-color:#ffffff;
    border-style:hidden;
    border-width:1px;
    font-size:10pt;
}

a:link    { text-decoration:none; color:#3236ea }
a:visited { text-decoration:none; color:#7b85e9 }
a:active  { text-decoration:none; color:#3236ea }
a:hover   { text-decoration:none; color:#ff0000 }

body {
    font-family:osaka,arial;
    font-size:10pt;
    background-color:white;
}

input {
    border-right: #6090ef 1px solid;
    border-top: #6090ef 1px solid;
    border-left: #6090ef 1px solid;
    color: #006666;
    font-family: osaka,arial;
    font-size:10pt;
    border-bottom: #6090ef 1px solid;
    background-color:#ffffff;
}

img {
    border-width:0px;
}
