	img{
    border:0;
}
	td.title {
    text-align:center;
}
	td.titlephoto {
    font-size: 10pt;
    text-align:center;
}
	td.contents {
    font-size: 14pt;
}
	td.footnote {
    font-size: 8pt;
    text-align:center;
}
	a:link    {
    text-decoration:none;
    color:#006666;
}
	a:visited {
    text-decoration:none;
    color:#0099CC;
}
	a:active  {
    text-decoration:none;
    color:#006666;
}
	a:hover   {
    left: 1px;
    position: relative;
    top: 1px;
    text-decoration:none;
    color:#ff0000;
}
	body {
    font-family: osaka,arial;
    background-image:url(../bg/main.gif);
	overflow: auto;
}

.accordianTabTitleBar {
   font-size           : 14px;
	padding             : 2px 3px 2px 3px;
   border-style        : solid none solid none;
	border-top-color    : #BDC7E7;
	border-bottom-color : #182052;
   border-width        : 1px 0px 1px 0px;
}

.accordianTabTitleBarHover {
   font-size        : 15px;
	background-color : #1f669b;
	color            : #000000;
}

.accordianTabContentBox {
    font-size: 12px;
    border: 1px solid #1f669b;
    border-top-width: 0px;
    padding: 10px 8px 0px 8px;
    line-height:1.5em;
}
